<%- include('../_layouts/adminheader') %>

<div class="ibox-content col-lg-8 mx-auto">

 <div class="stepsBox">
                <div class="claimSteps" id="stepOne">
                     <h1><b>ADS</b></h1>  
                </div>
            </div>
<div><a href="/admin/products/add-product" class="btn btn-primary" style="margin-bottom: 10px;">Add a new Ads</a></div>
<% if (count > 0) { %>

<table class="table table-striped alignmiddle">
  <thead  style='background-color:#FF4500; color:#FFF;'>
    <tr class="home">
      <th>IMAGE</th>
      <th>ARTIST & TITLE</th>
      <th>PRICE</th>
      <th>CATEGORY</th>
      <th>EDIT</th>
      <th>DELETE</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(function(product){ %>
    <tr>
     <td>
        <% if (product.image == "") { %>
        <img id="noimage" height="100" width="100" src="/images/noimage.png">
        <% } else {%>
        <img id="noimage" height="100" width="100" src="/product_images/<%= product._id %>/<%= product.image %>">
        <% }%>
      </td>
      <td>
        <%= product.seniman %>  "<i><%= product.title %></i>"
      </td>
      <td>IDR
        <%= parseFloat(product.price).toFixed(2) %>
      </td>
      <td>
        <%= product.category %>
      </td>
      <td><a href="/admin/products/edit-product/<%= product._id %>"><i class="fa fa-edit"></i></a></td>
      <td><a class="confirmDeletion" href="/admin/products/delete-product/<%= product._id %>"><i class="fa fa-trash"></i></a></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<% } else {%>
<h3 class="text-center">There are no products.</h3>
<% }%>

<%- include('../_layouts/adminfooter') %>