<!doctype html>
<html lang="en">
<!-- <head> -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
      <!-- fav and touch icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon.icog">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon.ico">
    <meta name="theme-color" content="#ffffff">

  <title>Joeda Art</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/slick.css">
  <link rel="stylesheet" href="/css/slick-theme.css">
  

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   <link href="//s.w.org/wp-includes/css/dashicons.css?20150710" rel="stylesheet" type="text/css">
  <title>
    <%=  %>
  </title>
</head>
<body>
<!-- nitip di header_bu.ejs -->
 <header>
  <!-- Fixed navbar -->
<!-- example 8 - center logo on mobile, search right -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-4 order-md-0 collapsenav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                 <a class="two my-2 my-sm-0 pr-4"  href="/products/painting" style="color: grey;font-size: 1.0rem;"><b>PAINTING</b></a>
            </li>
            <li class="nav-item">
               <a class="two  my-2 my-sm-0 pr-4" href="/products/sculpture" style="color: grey;font-size: 1.0rem;"><b>SCULPTURE</b></a>
            </li>
             <li class="nav-item">
               <a class="two  my-2 my-sm-0 pr-4" href="/products/pottery" style="color: grey;font-size: 1.0rem;"><b>POTTERY</b></a>
            </li>
             <li class="nav-item">
               <a class="two  my-2 my-sm-0 pr-4" href="/products/craft" style="color: grey;font-size: 1.0rem;"><b>CRAFT</b></a>
            </li>
             <li class="nav-item">
               <a class="two  my-2 my-sm-0 pr-4" href="/products/digital-art" style="color: grey;font-size: 1.0rem;"><b>DIGITAL ART</b></a>
            </li>
             <li class="nav-item">
               <a class="two  my-2 my-sm-0 pr-4" href="/products/artwork" style="color: grey;font-size: 1.0rem;"><b>ARTWORK</b></a>
            </li>
        </ul>
    </div>
    <div class="w-100 d-flex flex-nowrap">
        <div class="w-100 d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".collapsenav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="d-flex mx-auto order-0">
        </div>
        <div class="d-flex justify-content-end order-3">
          <div class="navbar-collapse collapse w-100 order-4 order-md-0 collapsenav">
        <ul class="navbar-nav mr-auto">
            <% pages.forEach(function(page){ %>
                  <%  if (page.slug == "home") { %> 
                   <li class="nav-item">
                          <a class="btn btn-outline-secondary my-2 my-sm-0 mr-1" href="/"> <b><%= page.title %></b></a>
                  </li>
                  <% } else {%>
                   <li class="nav-item">
                          <a class="btn btn-outline-secondary my-2 my-sm-0 mr-1" href="/<%= page.slug %>"><b><%= page.title %></b></a>
                    </li>
                    <% } %>
                    <% }); %>
                  <% if (user) { %>
                  <!-- -->
                  <% } else {%>
                   <li class="nav-item">
                          <a class="btn btn-outline-secondary my-2 my-sm-0 mr-1" href="/">Home</a>
                   </li>
                   <li class="nav-item">
                          <a class="btn btn-outline-secondary my-2 my-sm-0 mr-1" href="/users/register">Register</a>
                   </li>
                   <li class="nav-item">
                          <a class="btn btn-outline-secondary my-2 my-sm-0 mr-1" href="/users/login">Sign In</a>
                   </li>
                  <% } %>
                   <% if (user && (user.admin == 1 || user.admin == 2 ) ) { %>
                   <li>
                    <div class="dropdown1">
                      <a class="btn btn-outline-secondary my-2 my-sm-0 mr-1 dropbtn2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Joko Prabowo
                      </a>
                        <div class="dropdown-content1">
                        <a class="dropdown-item" href="/admin/accounts/<%= user._id %>">My Account</a>
                        <a class="dropdown-item" href="/admin/products">Ads</a>
                        <a class="dropdown-item" href="/admin/chats">Message</a>
                        <a class="dropdown-item" href="#">Favorite</a>
                        
                        <a class="dropdown-item" href="/users/logout">Sign Out</a>
                    </div>
                  </li>
                  <% }%>  
                  <li>
                      <a href="#" data-toggle="dropdown" class="btn btn-outline-secondary my-2 my-sm-0 mr-1" >Filter<b class="caret"></b></a>
                  </li>
                  <li class="nav-item">
                        <form class="d-flex flex-nowrap align-items-center"  id="forma1">          
                          <input id="caritext" class="form-control mr-sm-2 my-2 my-sm-0" type="text" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-secondary my-2 my-sm-0" type="button" onClick="searching()" id="cari" value="Cari"><i class="fas fa-search"></i></button>
                        </form>
                  </li>    
        </ul>
    </div>  
</nav>
<div class="text-right">
  <script type="text/javascript">
    function searching(){
      var n1 = document.getElementById("caritext").value;
      location.href =  "/search/" + n1 ;            
    };
  </script>
</div>
</header>
<main role="main">
  <div class="container-fluid text-white" style="background-color:#FF0000;">
        <div  style="margin-bottom: 20px;">
            <img alt="" src="/images/logo-yoedaart.png" style="height:125px;margin-top: 20px;margin-left: 40px;">
        </div>
    </div>
  </div>
</main>
  <%- messages('messages', locals) %>
        <% if (errors) {%>
        <% errors.forEach(function(error) { %>
        <div class="alert alert-danger col-lg-8 mx-auto" style="text-align:center;">
          <%= error.msg %>
        </div>
        <% });%>
        <% }%>
  </div>