
<% include _layouts/header %>


<!-- new -->
<style>
    
.column {
  float: left;
  width: 25%;
  padding: 10px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
 
<!-- end -->


    <div id="products" class="row">
      <% products.forEach(function(p){ %>
        
        <div class="column">

        <div class="item box1 col-xs-4" style="margin-bottom: 20px;">
            <div class="thumbnail" style="text-align: center;margin-bottom: 30px;">
                <a class="group list-group-image img-link img-wrap w_hover text-center"  href="/products/<%= p.category %>/<%= p.slug %>"> <img class="img-thumbnail img-fluid"  alt="" src="/product_images/<%= p.id %>/<%= p.image %>" style="width: auto; height:200px; text-align: center;margin-top: 15px;"> <span class="link-icon"></span> </a> 
                
                <div class="caption" style="text-align: center; font-family: Arial Bold;  line-height: 0.5;margin-top: 10px;">
                        <h3 class="group inner list-group-item-heading" style="margin-bottom: 0px; font-size:17px"><%= p.seniman %></h3>
                        <h4 class="group inner  " style="margin-top: 5px;"><i>"<%= p.title %>"</i></h4>
                        <p class="group inner"><%= p.ukuran %></p>
                        <p class="group inner list-group-item-heading"><%= p.media %></p>
                        <p class="group inner list-group-item-heading"><%= p.tahun %></p>
                         <p><i><div class="<%= p.id %>"><%= p.price  %></div> </i> <span class="add-on" id="loanAmount1Cur"></span></p>    
                         <div><i class="far fa-heart float-center" ></i></div>
                    <p class="group inner list-group-item-text">
                 </div>
                 <div class="row" style="text-align: center">
                        <div class="col-xs-12">
                </div>
             
             
             
             </div>
            </div> 
        </div>

        </div>
      <% }); %>        
    </div>

    <% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                    <% } else { %>
                        <li><a href="/products/painting/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/products/painting/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/products/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
    <% } %>

<script type="text/javascript">
      $(document).ready(function () {
                
              $("#loanAmount1").on("new", null, function () {
                  var input = $("#loanAmount1").val();
                  var num = parseFloat(input).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + " $";
                  $("#loanAmount1Cur").html(num);
              });

              $('.far').click(function () {
                  console.log('fas0');
                    $('.far').toggleClass('far fa-heart fas fa-heart')  
                  });
                  
                  $('.fas').click(function () {
                  console.log('fas1');
                    $('.fas').toggleClass('fas fa-heart far fa-heart')  
                  });

                  <% products.forEach(function(p){ %>  
                          var num = $('div.<%= p.id %>').text()
                          num = addPeriod(num);
                          $('div.<%= p.id %>').text('IDR '+num)
                  <% }); %>     
                    

              });

              function addPeriod(nStr)
              {
                  nStr += '';
                  x = nStr.split('.');
                  x1 = x[0];
                  x2 = x.length > 1 ? '.' + x[1] : '';
                  var rgx = /(\d+)(\d{3})/;
                  while (rgx.test(x1)) {
                      x1 = x1.replace(rgx, '$1' + '.' + '$2');
                  }
                  return x1 + x2;
              }
  </script>

<% include _layouts/footer %>

